{% extends 'base_layout.html' %}
{% block content %}
{% if user.is_superuser %}
{% if latest_question_list %}
    <br>
    <br>
    <h1 style="text-align:center">Admin Panel</h1>
    <br>
    {% if message %}
    <div class="alert alert-success" >
            {{message}}
    </div>
    {% endif %}
  
    <div class="container">
            <table class="table table-hover">
            <thead>
                <tr>
                <th>Title</th>
                <th>Publication Date</th>
                <th>User</th>
                <th>Tag</th>
                <th>Total View</th>
                <th>Total Vote</th>
                <th>Music Viewer</th>
                <th>Technology</th>
                <th>Poetry</th>
                <th>Painting</th>
                
                </tr>
            </thead>
    {% for question in latest_question_list %}
            <tbody>
                <tr>
                <td> <a href="{% url 'polls:detail' question.id %}" style="text-decoration:none">{{question.question_text}}</a></td>
                <td>{{question.pub_date}}</td>
                <td>{{question.user}}</td>
                <td>{{question.tag}}</td>
                <td>{{question.total}}</td>
                <td>{{question.vote}}</td>
                <td>{{question.music}}</td>
                <td>{{question.technology}}</td>
                <td>{{question.poetry}}</td>
                <td>{{question.painting}}</td>
                </tr>
            </tbody>    
    {% endfor %}
    </table>
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if latest_question_list.has_previous %}
            <a class="btn btn-primary" href="?page=1"> First</a>
            <a class="btn btn-primary" href="?page={{ latest_question_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}
        </span>

        {% if latest_question_list.has_next %}
            <a class="btn btn-primary" href="?page={{ latest_question_list.next_page_number }}">Next</a>
            <a class="btn btn-primary" href="?page={{ latest_question_list.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
{% else %}
<div class="alert alert-danger" >
    User is not Admin!!
</div>
{% endif %}
{% endblock %}