{% extends 'base_layout.html' %}
{% block content %}
{% if error %}
<div class="alert alert-danger" >
        {{error}}
</div>
{% endif %}
<br>
<h2>Create new article</h2>
<form action="{% url 'polls:createpoll' %}" method="POST" id="question">
{% csrf_token %}
{{form}}
{{choice}}
{{choice}}
{{choice}}
<br>
<input type="submit" value="Submit Poll"class="btn btn-primary">
</form>
{% endblock %}