{% extends 'base_layout.html' %}
{% block content %}
<br><br>
<h1>{{ question.question_text }}</h1>
{% if error_message %}
<div class="alert alert-danger ">
{{ error_message }}
</div>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<br>
{% for choice in question.choice_set.all %}

<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />

{% endfor %}
<br>
<br>

{% if question.user != request.user %}
{% if voterstatus == "voter" %}
<input type="submit" value="Already Voted" class="btn btn-secondary" disabled/>
{% else %}
<input type="submit" value="Vote" class="btn btn-primary"/>
{% endif %}
{% endif %}
</form>
{% if request.user.is_superuser or user == request.user %}

<br>
<br>
<h3>Result</h3>
<table class="table table-hover">
    <thead>
        <tr>
        <th>Cetagory</th>
        <th>Number of Votes</th>
        </tr>
    </thead>
    <tbody></tbody>
        {% for choice in question.choice_set.all %}    
          <tr>
            <td>{{ choice.choice_text }}</td>
            <td>{{ choice.votes }} vote{{ choice.votes|pluralize }}</td>
          </tr>                
        {% endfor %}
</tbody>
</table>
<section>
<canvas id="myChart" width="100" height="100"></canvas>
</section>
{% endif %}

{% endblock %}