{% extends 'base_layout.html' %}
{% block content %}
{% if latest_question_list %}
    
    <br>
    
    <h1 class="title">Latest Questions Now</h1>
    <br>
    {% if message %}
    <div class="alert alert-success" >
            {{message}}
    </div>
    {% endif %}
    <ul>
    {% for question in latest_question_list %}
    <a onclick="count('{{question.id}}');" href="{% url 'polls:detail' question.id %}" style="text-decoration:none">
    <div class="card ">
            <div class="card-body">{{ question.question_text }}</div>
            <div class="card-footer ">Auther: {{ question.user|title }}
                <br>
                Tag: {{ question.tag|title }}
            </div>
          </div>
        </a> 
        <br>    
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if latest_question_list.has_previous and latest_question_list.has_next  %}
            <a class="btn btn-primary" href="?page=1"> First</a>
            <a class="btn btn-primary" href="?page={{ latest_question_list.previous_page_number }}">Previous</a>
            <span class="current">
                Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}
            </span>
            <a class="btn btn-primary" href="?page={{ latest_question_list.next_page_number }}">Next</a>
            <a class="btn btn-primary" href="?page={{ latest_question_list.paginator.num_pages }}">Last</a>        
        {% elif latest_question_list.has_previous %}
            <a class="btn btn-primary" href="?page=1"> First</a>
            <a class="btn btn-primary" href="?page={{ latest_question_list.previous_page_number }}">Previous</a>
            <span class="current">
                Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}
            </span>
            <a class="btn btn-secondary"  href="#">Next</a>
            <a class="btn btn-secondary"  href="#">Last</a>      

        {% elif latest_question_list.has_next %}
            <a class="btn btn-secondary"  href="#">First</a>
            <a class="btn btn-secondary"  href="#">Previous</a>
            <span class="current">
                Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}
            </span>
            <a class="btn btn-primary" href="?page={{ latest_question_list.next_page_number }}">Next</a>
             <a class="btn btn-primary" href="?page={{ latest_question_list.paginator.num_pages }}">Last</a>     
        {% endif %}
    </span>
</div>


{% endblock %}