{% extends 'base_layout.html' %}
{% block content %}
<br>
<h1 class="title">SignIn Form</h1>
<form action="/accounts/signin/" method="POST" id="signin" >
    {% csrf_token %}
    <br>
    {{form}}
    <br>
    <br>
      {% if request.GET.next %}
        <p style="color:red">Sign in is required before viewing this page </p>
        <input type="hidden" name="next" value="{{request.GET.next}}">
      {% endif %}  
      <input type="submit" value="Signin"class="btn btn-primary">
</form>
{% endblock %}

