{% extends 'base_layout.html' %}
{% block content %}
<br>
<h1 class="title">Signup Form</h1>
<form action="/accounts/signup/" method="POST" id="signup">
    {% csrf_token %}
    {{form}}
    <br>
      <input type="submit" value="signup" class="btn btn-primary">
</form>
{% endblock %}